html,body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav {
    /*position: relative;*/
    /*top: 50%;*/
    left: 0;
    /*width: 95%;*/
    /*height: 50px;*/
    /*height: 5%;*/
    background-color: chartreuse;
    padding: 5px;
    border: darkred solid;
    border-radius: 10px;
    z-index: 9999;
}

.nav ul {
    /*position: relative;*/
    /*width: 90%;*/
    background-color: rebeccapurple;
    border: black solid;
    font-size: 0;
    border-radius: 10px;
    box-shadow: 2px 2px blue;
    margin: 0px 10px;
}

.nav ul li {
    font-size: 15px;
    margin: 5px 0px;
    padding: 3px 10px 3px 10px;
    display: inline-block;
    border: crimson solid;
    background-color: brown;
    border-radius: 10px;
    box-shadow: 2px 2px blue;
}

.nav ul .active {
    background-color: #F0C010;

    /*リンク無効化*/
    pointer-events: none;
}

.nav ul li:hover {
    font-weight: bold;
}

#barba-wrapper {
    /*position: relative;*/
    /*top: 60px;*/
    left: 0;
    height: 90%;
    background-color: aquamarine;
    border-radius: 10px;
    border: brown solid;
}

.barba-container {
    margin: 10px 10px 10px 10px;
    height: 90%;
    background-color: coral;
    border-radius: 10px;
    border: brown solid;
}

.shutter {
    position: fixed;
    top: 60px;
    width: 0;
    height: 100vh;
    background-color: #F0C010;

    z-index: 99;
    pointer-events: none;
}

.shutter-a {
    right: 0;
    width: 0px;
    transition: 0.3s ease-in-out;
}

.shutter-a.moved {
    left: 0;
    width: 100%;
    transition: 0.3s ease-in-out;
}
